
.DS_Store
.DS_Store
.DS_Store
Assignment4/Assignment4_Data621_PR_files/libs/bootstrap/bootstrap-icons.css
Assignment4/Assignment4_Data621_PR_files/figure-html/unnamed-chunk-5-1.png
Assignment4/Assignment4_Data621_PR_files/figure-html/unnamed-chunk-4-2.png
Assignment4/Assignment4_Data621_PR_files/figure-html/unnamed-chunk-4-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-8-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-4-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-15-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-14-2.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-14-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-13-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-12-1.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-11-4.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-11-3.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-11-2.png
Assignment4/Assignment4_Data621_MQ_files/figure-html/unnamed-chunk-11-1.png
Assignment4/Assignment4_Data621_PR_files/libs/bootstrap/bootstrap-icons.woff
Assignment4/Assignment4_Data621_PR_files/libs/bootstrap/bootstrap.min.css
Assignment4/Assignment4_Data621_PR_files/libs/bootstrap/bootstrap.min.js
Assignment4/Assignment4_Data621_PR_files/libs/clipboard/clipboard.min.js
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/anchor.min.js
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/popper.min.js
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/quarto-syntax-highlighting.css
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/quarto.js
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/tippy.css
Assignment4/Assignment4_Data621_PR_files/libs/quarto-html/tippy.umd.min.js
.DS_Store
.DS_Store
.DS_Store
